
<section class="pricing py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-4" *ngFor="let card of cards">
          <app-card [title]="card.title"
          [price] = "card.price"
          [typeofuser] = "card.typeofuser"
          [storage] = "card.storage"
          [project] = "card.project"
          [community] = "card.community"
          [priproject] = "card.priproject"
          [phonesupport] = "card.phonesupport"
          [subdomain] = "card.subdomain"
          [monstatrep] = "card.monstatrep"
          
          ></app-card>
        </div>
      </div>
    </div>
</section>