
    <li class="list-group-item">
        <div class="row">
            <div class="col-lg-8">
                <span *ngIf="complete">{{task}}</span>
                <span *ngIf="!complete" style="color: grey; text-decoration:line-through;">
                    {{task}}
                </span>
            </div>
            <div class="col-lg-4">
                <button *ngIf="complete" (click)="completeTask($event)">complete</button>
                <button *ngIf="!complete" (click)="completeTask($event)" disabled=true>complete</button>
            </div>
        </div>
    </li>
  
